@import url("variables.css");
@import url("navbar.css");

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:var(--background-primary);
    color:var(--text-primary);
    font-family:var(--font-body);
    line-height:1.6;
}
---body {
    background: red;
}

a{
    text-decoration: none;
}
.hero-badge{

    display:inline-flex;
    align-items:center;
    gap:12px;

    color:var(--text-secondary);

    font-size:.9rem;
    font-family:var(--font-body);

    letter-spacing:4px;

    text-transform:uppercase;

}
.hero-badge::before{

    content:"";

    width:50px;
    height:1px;

    background:var(--accent-primary);

}